
{% extends 'main.html' %}
{% load static %} 
{% load humanize %}

{% block content %}


<section class = "content-section content-section-single">
    <div class="content-container">
        <nav class = "site-header-submenu">
          
            <a class = "col-md-1 site-header-item-submenu" href="{% url 'userlist' %}"> User-List</a>           
           
        </nav>
        <div class="row">
               
            <div class="col-sm-4">
                <!--img class = "image-icon-brand" src="{% static 'header/login_key.png' %}" alt="" !-->
                
                <form class="form-field" method="post">
                    {% csrf_token %}
                    {{ form.errors }}
                    {{ form.non_field.errors }}

                    
                    <div class = "form-field">
                        
                        ชื่อผู้ใช้งาน: {{form.username}}
                    </div>

                    <div class="form-field">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                    </div>
                    
                    <!-- div class="form-field">
                        
                        ชื่อ: {{ form.first_name }} นามสกุล: {{ form.last_name }}
                    </!-->
                    

                    <div class="form-field">
                        แผนก/หน่วยงาน 
                        <select class="col-md-12 form-field" name="dep" id="selectdepartment">
                            <option value="{{ data.dep.id}}">{{ data.dep }}</option>
                            {% for dep in deps %} 
                                <option class = "select-field" id="selectdepartment" 
                                    value="{{dep.id}}"> {{ dep}}
                                </option>
                            {% endfor %}
                        </select>    
                        
                    </div>

                    
                    <div class="row">
                        <div class=" col-sm-3 form-field">
                            {{ form.is_superuser.label_tag }}
                            {{ form.is_superuser }}
                        </div>
                        <div class="col-sm-3 form-field">
                            {{ form.is_active.label_tag }}
                            {{ form.is_active }}   
                        </div>
                    
                        <div class="col-sm-3 form-field">
                            {{ form.is_staff.label_tag }}
                            {{ form.is_staff }}
                        </div>
                    </div>
                    
                    <div> <p> </p> </div>

                    <div class="">
                        <button class="btn btn-primary" type="submit" onclick="SaveData()"> บันทึก </button>
                    </div>

                </form>    
            </div>        

            
        </div>   
        
    </div>  

</section>


<script>
    function SaveData() {
       
    var msg =   'บันทึกข้อมูล\n' + 
                'ท่านต้องการยืนยันหรือไม่?';

    if (!confirm(msg)) {  
            return;
        } else {

   

        }

    }


   

</script>

{% endblock %}