{% extends 'main.html' %}
{% load static %}
{% load humanize %}

{% block title %} {{ msg }} {% endblock %}
{% block script %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %} 

  
<section class = "content-section-single">
    <div class = "content-container">
        <h6 class = "content-title text-center"> DAILY TRANSACTION LIST|บันทึกรายการประจำวัน </h6> 
        <div class="row">
            <nav class = "site-header-submenu">
                <a class = "site-header-submenu-item " href="{%url 'hmdailytransaction' %}"> 
                    <ion-icon class="" name="arrow-back-circle-outline" size="small" ></ion-icon>
                    ย้อนกลับ </a>                   
            </nav>
        </div>
    </div>

    <!-- Detail -->
    <div class="container">
        <div class="row">

            <form class="form-horizontal" method="post" >
                {% csrf_token %} 
                        
                
                    <div class="row">
                        <div class ="grid grid-5">
                            <div class="col-md-12">
                                {{ docform.period.label_tag }}
                        
                                <select class= "col-md-12 form-field" name="period" id="id_period">  
                                    <option value="{{period}}"> {{period}} </option>
                                    {% for period in periods %}
                                        <option class="select-field" value="{{period.cde}}"> {{period}} </option>
                                    {% endfor %}

                                </select>
                                {{ docform.period.errors}}
                            </div>   
                            <div class="col-md-12">                          
                                {{ docform.docno.label_tag}}                
                                {{ docform.docno}}
                            </div>
                            <div class="col-md-12">                      
                                {{ docform.docdate.label_tag}}        
                                    {{ docform.docdate }} 
                                    {{ docform.docdate.errors }}
                            </div>
                            <div> </div>
                            <div> </div>
                        </div>
                    </div>
                

                
          

                    <div class="row form-row">
                        <table class="table table-responsive-md table-sm">
                            <thead>
                                
                                <tr>
                                    <th class=""> ITEM </th>
                                    <th class="col-md-3"> EMPLOYEE </th>
                                    <th class="col-md-3"> รายการ </th>
                                    <th class="col-md-1"> DATE</th>
                                    <th class="col-md-2"> START-TIME </th>
                                    <th class="col-md-2"> END-TIME </th>
                                    <th class=""> PAY-AMT </th>
                                </tr>
                            </thead>

                            <tbody>
                                {{ formset.management_form }}
                                {% for form in formset %}
                                    <tr>
                                        <div class="form-row">
                                            <td  class="form-filed"> {{ form.item }} </td>
                                            <td class="col-md-3 form-filed"> {{ form.emp_cde }}</td>
                                            <td class="col-md-3 form-filed"> {{ form.code }} </td>
                                            <td class= "col-md-1 form-filed"> {{ form.workdate }} </td>
                                            
                                            <div class="col-md-2 input-group date form-field " id = "starttimepicker" data-target-input="nearest" >
                                                
                                                <td> {{ form.workstarttime }} </td>

                                            </div>

                                            <td class="col-md-2 form-filed"> {{ form.workendtime }} </td>
                                        
                                            <td  class="form-filed"> {{ form.payamt }} </td>
                                        </div>                                    
                                    </tr>
                                {% endfor %}

                                <div class="row">
                                    <button class="col-1 btn btn-success add-form-row"> + </button>
                        
                                </div>

                            </tbody>
                            
                        </table>
                    
                    </div>

             
                    <div>
                        <button class = "button-primary" onclick = "SaveAllData(this)"> บันทึก </button>  
                    </div>
            </form>

        </div>


    </div>
</section> 

<script type='text/javascript'>

    $(document).on('click', '.add-form-row', function(e){
        e.preventDefault();
        cloneMore('.form-row:last', 'form');
        return false;
    });

    $(document).on('click', '.remove-form-row', function(e){
        e.preventDefault();
        deleteForm('form', $(this));
        return false;
    });

    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    };
    function cloneMore(selector, prefix) {
        var newElement = $(selector).clone(true);
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
            var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        });
        newElement.find('label').each(function() {
            var forValue = $(this).attr('for');
            if (forValue) {
              forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
              $(this).attr({'for': forValue});
            }
        });
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);
        $(selector).after(newElement);
        var conditionRow = $('.form-row:not(:last)');
        conditionRow.find('.btn.add-form-row')
        .removeClass('btn-success').addClass('btn-danger')
        .removeClass('add-form-row').addClass('remove-form-row')
        .html('<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>');
        return false;
    };

    function deleteForm(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (total > 1){
            btn.closest('.form-row').remove();
            var forms = $('.form-row');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i=0, formCount=forms.length; i<formCount; i++) {
                $(forms.get(i)).find(':input').each(function() {
                    updateElementIndex(this, prefix, i);
                });
            }
        }
        return false;
    };

    function SaveAllData(bt) {

       var msg =   'บันทึกข้อมูล\n' + 
                    'ท่านต้องการยืนยันหรือไม่?';
        
        if (!confirm(msg)) {  
            return;
        } else {

                document.querySelector('form').submit() ;
                alert('บันทึกข้อมูลเรียบร้อย')   ;           
        }
    } ;
    $(function () {
        $("#id_workdate").datetimepicker({
           
            format: 'd/m/Y',
        });

        $("#id_docdate").datetimepicker({
            format: 'd/m/Y',
          });
        
        $("#id_workstarttime").datetimepicker({
         
            format: 'H:i',
          });
        
        $("#id_workendtime").datetimepicker({
            format: 'H:i',
          });

        });

</script>
{% endblock %} 