{% extends 'main.html' %} 

{% load static %}

{% block content %}

<section class = "content-section-single">             
        <div class = "content-container">   
                <div class="grid grid-3">
                        <div class="col-md-12">
                                <div class="main-menu">
                                        <div class="col-md-12">  
                                                <div class="">                      
                                                        <a  href="#">
                                                        <img class = "site-image-icon" src="{% static 'header/menu/hr/human-01.png' %}" alt="">
                                                                ประมวลผลรายการประจำวัน  </a>    
                                                </div>
                                                <div class="">                               
                                                        <a  href="#">
                                                        <img class = "site-image-icon" src="{% static 'header/menu/hr/time-04.png' %}" alt="">
                                                                ประมวลผลเงินได้</a>    
                                                </div>

                                                <div class="">                                
                                                <a  href="#">
                                                <img class = "site-image-icon" src="{% static 'header/menu/hr/salary.png' %}" alt="">
                                                รายงาน </a>    
                                                </div>
                                        
                                                <div class="">                                
                                                <a  href="#">
                                                <img class = "site-image-icon" src="{% static 'header/menu/hr/human-00.png' %}" alt="">
                                                ปิดสิ้นงวด  </a>    
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-12">                        
                            
                                <img class = "" src="{% static 'header/menu/hr/hrm01.png' %}" alt="">
                        
                        </div>

                        <div>

                        </div>
                           
                                
                        
                </div>
           
        </div>
</section>


{% endblock %} 