{% load static %} 

<footer class="site-footer">

    <div class = "row">
        <div class = "grid grid-3">
           
            <div>
                <a class="site-footer-item" href="#">About us</a> 
                <a class="site-footer-item" href="#">ข้อตกลงและเงื่อนไขการใช้งาน</a>  
            </div>
            <div>
               <br><br>
           
               <p class="site-footer-copyright">Copyright By ZEUSBKK WORLD TECH (2022). All right Reserved.</p>    
            </div> 
            <div>
              <p class = "site-footer-box3"> Current User:{{ username }}</p>  
            </div>
        </div>

    </div>    
          
</footer>